__pychache__/
*.py[cod]
venv/
.env

data/*
!data/**/*.dvc
!data/**/.gitkeep
!data/raw/
models/

.ipynb_checkpoints

mlruns/
.trash/
mlartifacts/

outputs/
.hydra/

mlflow.db
*.log

!metrics.json
!confusion_matrix.png
!models/best_model.pkl